/* Global */

h1 {
  font-family: 'Patua One', cursive;
  font-size: 60px;
  color: black;
  margin: 0;
  line-height: 1;
  padding: 0;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size: 40px;
  color: black;
}

p {
  color: black;
}

a:hover {
  text-decoration: none;
}

/*************** INDEX.HTML PAGE *******************/

/* Top Nav Bar */

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: #404040;
  color: white;
  border-bottom: black solid 4px;
}

.top-nav a {
  color:white;
}

.links1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  font-family: 'Patua One', cursive;
}

.top-nav a {
  margin-left: 20px;
  margin-right: 20px;
}

/* Left Nav Bar */

.main-left-icon {
  height: 150px;
  margin-top: 7%;
  margin-bottom: 7%;
}

.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  top: 7vh;
  width: 30%;
  height: 93vh;
  background-color: #7F7F7F;
  color: white;
  border-right: black solid 4px;
}

.links2 {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 80%;
  font-family: 'Patua One', cursive;
}


.left-nav a {
  list-style-type: none;
  width: 100%;
  padding: 10px;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  color: black;
  border: solid black 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

span {
  padding-left: 7%;
}

.left-nav a:hover {
  background-image: url("./images/funky-linesdark.png");
  background-repeat: repeat;
}

/* Icons on left nav links */
.nav-icon {
  width: 45px;
  margin: 0;
}


/* Main Content */

.main-content {
  margin-top: 7vh;
  margin-left: 30%;
}

/* Home section */

.home {
  height: 93vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5%;
  justify-content: space-between;
}


.home img {
  width: 350px;
}


/* Background Section */

.background {
  height: 100vh;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 5%;
  border-top: black solid 4px;
}

.background img {
  width: 100px;
}

.background img, .background h2 {
  align-self: flex-start;
}

/* DNA editing section */

.dna-editing {
  height: 100vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-top: black solid 4px;
}

.dna-editing img {
  width: 100px;
}

/* CRISPR-cas9 section */

.crispr-cas9 {
  height: 100vh;
  background-color: #EDEDED;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 5%;
  border-top: black solid 4px;
}

.crispr-cas9 img {
  width: 100px;
}


/* FOOTER */

footer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #404040;
  color: white;
  border-top: black solid 4px;
  opacity:
}


/* RESPONSIVE DESIGN - remove left nav in small screens */

@media screen and (max-width:735px) {
  .left-nav {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
}

/* RESPONSIVE DESIGN - remove footer in small screens */

@media screen and (max-height:550px) {
  footer {
    display: none;
  }
}

/*************** INDEX2.HTML PAGE *******************/

/* Main section */

.main2 {
  height: 86vh;
  margin-top: 7vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  padding: 5%;

}

.row {
  height: 90%;
}

/* About me title row */

.col-12 {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
}

.molecule {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.about-me-title {
  height: 60px;
  min-width: 257.23px;
}

/* left column */

.col-5 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.pictureme {
  width: 160px;
  border-radius: 20px;
  border: black 5px solid;
}

/* right column */

.col-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  margin: 0;
}
