/* Global */

h1 {
  font-family: 'Patua One', cursive;
  font-size: 60px;
  color: black;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size: 40px;
  color: black;
}

p {
  color: black;
}

a:hover {
  text-decoration: none;
}

/* HOME PAGE */

/* Top Nav Bar */

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: #404040;
  color: white;
  border-bottom: black solid 4px;
}

.top-nav a {
  color:white;
}

.links1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  font-family: 'Patua One', cursive;
}

.top-nav li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}
/* Left Nav Bar */

.main-left-icon {
  height: 150px;
  margin-top: 7%;
  margin-bottom: 7%;
}

.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  top: 7vh;
  width: 30%;
  height: 93vh;
  background-color: #7F7F7F;
  color: white;
  border-right: black solid 4px;
}

.links2 {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 80%;
  font-family: 'Patua One', cursive;
}


.left-nav li {
  list-style-type: none;
  width: 100%;
  padding: 10px;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  color: black;
  border: solid black 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

span {
  padding-left: 7%;
}

.left-nav li:hover {
  background-image: url("./images/funky-linesdark.png");
  background-repeat: repeat;
}

/* black and white icons on left nav*/
.black-white-icon {
  width: 45px;
  margin: 0;
}


/* Main Content */

.main-content {
  margin-top: 7vh;
  margin-left: 30%;
}

.home {
  height: 93vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  padding: 5%;
}


.home img {
  width: 200px;
}

.background {
  height: 93vh;
  background-color: #EDEDED;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  padding: 5%;
  border-top: black solid 4px;
}

.background img {
  width: 100px;
}

.dna-editing {
  height: 93vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  padding: 5%;
  border-top: black solid 4px;
}

.dna-editing img {
  width: 100px;
}

.crispr-cas9 {
  height: 93vh;
  background-color: #EDEDED;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  padding: 5%;
  border-top: black solid 4px;
}

.crispr-cas9 img {
  width: 100px;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #404040;
  color: white;
  border-top: black solid 4px;
}


/* RESPONSIVE DESIGN - remove left nav in small screens */

@media screen and (max-width:735px) {
  .left-nav {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
}

/* INDEX2.html*/

.main2 {
  height: 93vh;
  background-image: url("./images/funky-lines.png");
  background-repeat: repeat;
  padding: 5%;
}

.main2 img {
  width: 200px;
  border-radius: 20px;
  border: black 5px solid;
  float: left;
  margin-right: 5%;
  margin-top: 10%;
}

.intro {
  margin-top: 10%;
}
